// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-weight: 300;
$v-font-size: 20px;
$v-font-family: Jura;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
$v-bevel-depth: 50%;
$v-shadow-opacity: 5%;
//$v-bevel: inset 0 2px 2px 0 #fff, inset 0 -2px 2px 0 #ddd;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme() {
  @include valo;

  .borders {
    border-style: solid;
    border-color: #0099ff;
    border-width: 3px;
    background-color: #ffffff;

  }

  .label {
    font-size: 100%;
  }

  .errorlabel {
    //margin: 5px;
    //padding: 20px;
    color: red;
    font-size: 100%;
  }
}

.v-header{
  background-color: red;
}

.v-leftbody{
  background-color: blue;
}

.v-body{
  background-color: yellow;
}
.v-main-body{
  min-height: 1000px;
  min-width: 1000px;
  overflow: auto;
  background-color: black;

}

.loginlayout {
  min-width: 320px;
  max-width: 25%;
  //border-style: solid;
  //border-color: #0099ff;
  //border-width: 3px;
  background-color: #ffffff;
}

.introlabel {
  font-size: 100px;
  line-height: 1.2;
}

@media screen and (max-width : 1400px) {
  .introlabel {
    font-size: 85px;
    line-height: 1.2;
  }
}

@media screen and (max-width : 1224px) {
  .introlabel {
    font-size: 70px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 967px) {
  .introlabel {
    font-size: 50px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 700px) {
  .introlabel {
    font-size: 35px;
    line-height: 1.2;
  }
}
  // Insert your own theme rules here


  // Элементы книг
  /*.cells {
    border-style: hidden;
    background-color:#4682B4;
    border-color: #3f8bff;
    border-width: 3px;

    border-radius: 20px 20px 20px 20px;
    margin: 14px;   // после границы
    padding: 10px;  //до границы
  }*/

  .cells {
    margin-bottom: 5px;
    background-color: #ccc;

    border-style: hidden;
    background-color:#4682B4;
    border-color: #3f8bff;
    border-width: 3px;

    border-radius: 20px 20px 20px 20px;
    margin: 14px;   // после границы
    padding: 10px;  //до границы

    text-align: center;
    width: 200px;
    height:100px;

    text-indent: 0px;
    -moz-transition: background-color 0.8s 0.1s ease;
    -o-transition: background-color 0.8s 0.1s ease;
    -webkit-transition: background-color 0.8s 0.1s ease;
    cursor: pointer;}

  .cells:hover {
    background-color: #97CE68;
    color: #333;
  }

  //Left sidebar
  .mainContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex: 1;
    order: 1;
    width: auto;
  }

  .sidebarContainer {
    order: 2;
    transition: width 1s ease;
    -moz-transition: width 1s ease;
  }

  .sidebar-in{

    background-color:#4682B4;
    animation: sidebarAnimationFramesIn ease 1s;
    animation-iteration-count: 1;
    transform-origin: 100% 50%;
    animation-fill-mode:forwards;
    width: 100%;
  }

  .sidebar-out{
    background-color:#4682B4;
    animation: sidebarAnimationFramesOut ease 1s;
    animation-iteration-count: 1;
    transform-origin: 100% 50%;
    animation-fill-mode:forwards;
    width: 100%;
  }


  //test
  .test {
    background-color:#4682B4;
    width: 100%;

    -moz-transition: width 0.8s 0.1s ease;
    -o-transition: width 0.8s 0.1s ease;
    animation-iteration-count: 1;
    -webkit-transition: width 0.8s 0.1s ease;
    cursor: pointer;
  }

  .test:hover {
    background-color:#4682B4;
    width: 0%
  }

  .newsidebar-in{
    background-color:#4682B4;
    animation: sidebarAnimationFramesIn ease 1s;
    animation-iteration-count: 1;
    -moz-transition: width 0.8s 0.1s ease;
    -o-transition: width 0.8s 0.1s ease;
    -webkit-transition: width 0.8s 0.1s ease;
    transform-origin: 100% 50%;
    animation-fill-mode:forwards;
    min-width: 320px;
    max-width: 20%;
    // width: 100%;
  }

  .newsidebar-out{
    background-color:#4682B4;
    animation: sidebarAnimationFramesOut ease 1s;
    -moz-transition: width 0.8s 0.1s ease;
    -o-transition: width 0.8s 0.1s ease;
    animation-iteration-count: 1;
    -webkit-transition: width 0.8s 0.1s ease;
    transform-origin: 100% 50%;
    animation-fill-mode:forwards;
    // width: 100%;
  }

  //элементы в баре
  .tooltip-in {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s, visibility 0s linear 0.3s;
  }
  .tooltip-out{
    opacity: 1;
    visibility: visible;
    transition: opacity 1.5s, visibility 0s linear 0.3s;
  }

  // Face
  .circular-in  {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s, visibility 0s linear 0.3s;
  }

  .circular-out {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    opacity: 1;
    visibility: visible;
    transition: opacity 1.5s, visibility 0s linear 0.3s;
  }

// METRO
// ScrollBar
/*.v-scrollable {
  overflow: hidden;
}*/
.ease-in-out {
  transition-duration: 6s;
  transition-duration: 120ms;
  transition-duration: 1s, 15s;
  transition-duration: 10s, 30s, 230ms;
}