// color talbe
$background-color: #ffffff;

$main-color-darker: #006bb3;
$main-color: #0099ff;
$main-color-lighter: #4db8ff;

$super-color-darker: #eb8500;
$super-color: #ebc000;
$super-color-light: #ffdb3a;

$admin-color: #ff001a;
$master-color: #ff6600;

$menu-color: #001f35;
$menu-text-color: #ffffff;
$menu-hover-color: #001f35;

// valo
$v-font-size: 20px;
$v-font-family: Jura;
$v-focus-style: none;
$v-focus-color: $main-color;
$v-app-background-color: $background-color;

$v-gradient: 0;
$v-bevel: 0;
$v-bevel-depth: 0%;
$v-shadow: 0;
$v-overlay-shadow: 0;
$v-shadow-opacity: 0%;

$v-grid-header-background-color: #b6e1ff;
$v-grid-row-stripe-background-color: #def1ff;
//$v-focus-color: valo-focus-color();

//$v-bevel: inset 0 2px 2px 0 #fff, inset 0 -2px 2px 0 #ddd;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme() {
  @include valo;

  .loginlayout {
    min-width: 320px;
    max-width: 25%;

    background-color: $background-color;

    .errorlabel {
      //margin: 5px;
      //padding: 20px;
      color: $admin-color;
      font-size: 100%;
    }
    .super-button {
      border: none;
      background-image: none;
      background-color: #EBC000 !important;
      .v-button-caption {
        color: white;
        font-size: 32px;
      }
    }
    .main-button {
      border: none;
      background-image: none;
      background-color: #4db8ff;

      .v-button-caption {
        color: white;
        font-size: 32px;
      }
    }

    .v-select-select {
      border: none;
      background-color: #4db8ff;
      background-image: none;

      color: #FFFFFF;
    }

    .v-filterselect {
      .v-filterselect-input {
        border: none;
        background: #4db8ff;

        color: #FFFFFF;
      }
    }

    .v-textfield {
      border: 0px solid #4db8ff;
      background: #4db8ff;
      color: white;

      box-shadow: none;
    }
  }
  .v-caption {
    font-size: 26px;
  }
  .v-label {
    font-size: 26px;
  }

  /*.v-textfield {
    border: 0px solid #4db8ff;
    background: #4db8ff;
    color: white;

    box-shadow: none;
  }*/
  .v-nativebutton {
    border: none;
    background-image: none;
    background-color: #EBC000;
    color: white;
    .v-button-caption {
      color: white;
      font-size: 26px;
    }
  }
}

// main
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active {
      @content;
    }
  } @else {
    &:hover,
    &:active {
      @content;
    }
  }
}

.cssmenu {
  background: $main-color-lighter;
  width: auto;
  height: 10%;

  box-shadow: 0 0 10px rgba(0,0,0,0.5);

  border-radius: 0px;

  z-index:999;

  .v-horizontallayout .v-menubar {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

    background-image: none;
    background-color: $main-color-lighter;
    color: $background-color;
    font-size: 170%;

    line-height: 110px !important;

    outline: none;
    border: none;

    @include on-event {
      background-color: $background-color;
      color: $main-color-lighter;

      box-shadow: inset 25px 0px 25px -25px rgba(0,0,0,0.5), inset -25px 0px 25px -25px rgba(0,0,0,0.5);
    }
    &:hover:after {
      background-color: rgba(0, 0, 0, 0);
    }
  }
  .v-horizontallayout .v-button {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

    background-image: none;
    background-color: $main-color-lighter;
    color: $background-color;
    font-size: 170%;

    outline: none;
    border: none;

    @include on-event {
      background-color: $background-color;
      color: $main-color-lighter;

      box-shadow: inset 25px 0px 25px -25px rgba(0,0,0,0.5), inset -25px 0px 25px -25px rgba(0,0,0,0.5);
    }
    &:hover:after {
      background-color: rgba(0, 0, 0, 0);
    }
  }
}

.metrolayout {
  min-width: 320px;

  background-color: $background-color;

  z-index:100;

  .v-scrollable {
    overflow: hidden;
  }
  .metro-panel {
    overflow: hidden;
    z-index:101;
  }
  .scroll-button {
    background-image: none !important;
    background-color: #def1ff !important;
    color: $main-color-darker !important;
    font-size: 170%;

    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;

    outline: none !important;
    border: none !important;

    opacity: 0.5;
    &:hover{
        font-size: 400%;

      opacity: 0.9;
    }

    &:hover:after {
      background-color: rgba(0, 0, 0, 0);
    }

    &:focus {
      border: none;
      outline: none;
    }
    z-index:102;
  }
}

.bookinfolayout {
  min-width: 320px !important;

  .v-csslayout {
    .v-verticallayout {
      .v-ratingstars-wrapper {
        border: none;
      }

      .v-upload {
        input button  {
          border: none;
          background-image: none;
          background-color: #EBC000 !important;
        }
        .gwt-FileUpload {
          //background-color: blue;

          input button  {
            border: none;
            background-image: none;
            background-color: #EBC000 !important;
          }
        }

        .v-button {
          border: none;
          background-image: none;
          background-color: #EBC000 !important;

          .v-button-caption {
            color: white;
            font-size: 26px;
          }
        }
      }

      .v-textarea {
        background: $main-color-lighter;
        border: 0px solid #4db8ff;
        color: white;
      }

      .v-caption {
        font-size: 26px;
      }
      .v-label {
        font-size: 26px;
      }

      .v-textfield {
        border: 0px solid #4db8ff;
        background: #4db8ff;
        color: white;

        box-shadow: none;
      }

      .v-select-select {
        border: none;
        background-color: #4db8ff;
        background-image: none;

        color: #FFFFFF;
      }

      .v-filterselect {
        .v-filterselect-input {
          border: none;
          background: #4db8ff;

          color: #FFFFFF;
        }
      }
    }
  }

  .v-horizontallayout {
    .super-button {
      background-color: #EBC000 !important;
    }
    .v-button {
      border: none;
      background-image: none;
      background-color: #4db8ff;

      .v-button-caption {
        color: white;
        font-size: 26px;
      }
    }
  }
}

.sebdmaillayout {
  //background-color: black;

  .v-horizontallayout {
    .v-verticallayout {
      .v-horizontallayout {
        .v-panel {
          .v-panel-content {
            .v-table {
              background: $main-color-lighter;
              color: white;
              .v-table-header-wrap {
                background-image: none;
                background-color: $main-color-lighter;
              }
              .v-table-body {
                .v-table-table {
                  .v-table-row {
                    background-color: $main-color-lighter;
                  }
                }
              }
            }
          }
        }
        .super-button {
          background-color: #EBC000 !important;
        }

        .v-button {
          border: none;
          background-image: none;
          background-color: #4db8ff;

          .v-button-caption {
            color: white;
            font-size: 26px;
          }
        }

        .v-textarea {
          background: $main-color-lighter;
          border: 0px solid #4db8ff;
          color: white;
        }

        .v-caption {
          font-size: 26px;
        }
        .v-label {
          font-size: 26px;
        }

        .v-textfield {
          border: 0px solid #4db8ff;
          background: #4db8ff;
          color: white;

          box-shadow: none;
        }

        .v-select-select {
          border: none;
          background-color: #4db8ff;
          background-image: none;

          color: #FFFFFF;
        }

        .v-filterselect {
          .v-filterselect-input {
            border: none;
            background: #4db8ff;

            color: #FFFFFF;
          }
        }
      }
    }
  }
}

.menulayout {
  background-color: #def1ff;
  border-right: 4px;
  border-right-style: solid;
  border-right-color: $main-color-lighter;

  .v-verticallayout {
    .v-caption {
      font-size: 26px;
    }
    .v-label {
      font-size: 26px;
    }

    .v-textfield {
      border: 0px solid #4db8ff;
      background: #4db8ff;
      color: white;

      box-shadow: none;
    }

    .v-select-select {
      border: none;
      background-color: #4db8ff;
      background-image: none;

      color: #FFFFFF;
    }

    .v-filterselect {
      .v-filterselect-input {
        border: none;
        background: #4db8ff;

        color: #FFFFFF;
      }
    }

    .super-button {
      background-color: #EBC000 !important;
    }
    .v-button {
      border: none;
      background-image: none;
      background-color: #4db8ff;

      .v-button-caption {
        color: white;
        font-size: 26px;
      }
    }
  }
}

.settingslayout {
  background-color: white;

  .v-verticallayout {
    .v-caption {
      font-size: 26px;
    }
    .v-label {
      font-size: 26px;
    }

    .v-textfield {
      border: 0px solid #4db8ff;
      background: #4db8ff;
      color: white;

      box-shadow: none;
    }

    .v-select-select {
      border: none;
      background-color: #4db8ff;
      background-image: none;

      color: #FFFFFF;
    }

    .v-filterselect {
      .v-filterselect-input {
        border: none;
        background: #4db8ff;

        color: #FFFFFF;
      }
    }

    .super-button {
      background-color: #EBC000 !important;
    }
    .v-button {
      border: none;
      background-image: none;
      background-color: #4db8ff;

      .v-button-caption {
        color: white;
        font-size: 26px;
      }
    }

    .v-checkbox input[type="checkbox"]+label::before,.myradio input[type="radio"]+label::before
    {
      border: 1px solid #4db8ff;
    }
  }
}

// bookimage\
.cells {
  z-index:100;
  background-color: #ccc;

  border-style: hidden;
  background-color:$main-color-lighter;
  //border-color: $main-color-lighter;
  //border-width: 3px;

  border-radius: 20px 20px 20px 20px;
  margin-top: 35px;   // после границы
  margin-bottom: 35px;
  margin-left: 25px !important;
  margin-right: 10px !important;

  padding: 10px;  //до границы

  text-align: center;
  width: 200px;
  height:100px;

  text-indent: 0px;

  //-moz-transition: transform 0.5s ease;
  //-o-transition: transform 0.5s ease;
  //-webkit-transition: transform 0.5s ease;
  //-ms-transition: transform 0.5s ease;
  //transition: transform 0.5s ease;

  -webkit-transform: translate(0px, 0);
  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-transform: translate(0px, 0);
  -moz-transition: -webkit-transform 0.5s ease;
  transform: translate(0px, 0);
  transition: -webkit-transform 0.5s ease;

  cursor: pointer;

  .name-label {
    font-size: 40px;
    color: $background-color;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .author-label {
    font-size: 30px;
    color: $background-color;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }


  .super-button {
    border: none !important;
    background-image: none !important;
    background-color: #EBC000 !important;
    .v-button-caption {
      color: white;
      font-size: 32px;
    }
  }

  .v-ratingstars-star {
    background-image: url('./Images/star_19x18.png');
    border: 1px solid;
    border-color: $main-color-lighter;
    background-repeat: inherit !important;
    overflow: inherit !important;
  }
  .v-ratingstars-wrapper {
    background: $main-color-lighter;
    border: 1px solid;
    border-color: $main-color-lighter;
    background-repeat: no-repeat;
    overflow: inherit !important;
  }
}

.cells:hover {
  z-index:101;
  //background-color: $main-color;

  -webkit-transform:scale(1.15); /* Safari and Chrome */
  -moz-transform:scale(1.15); /* Firefox */
  -ms-transform:scale(1.15); /* IE 9 */
  -o-transform:scale(1.15); /* Opera */
  transform:scale(1.15);
}

.v-grid-cell.invisible {
  visibility: hidden;
}

.v-ratingstars-wrapper-large .v-ratingstars-bar:hover {

}

.v-main-body{
  //min-height: 1000px;
  //min-width: 1000px;
  overflow: auto;
  //background-color: black;

}

.introlabel {
  font-size: 70px;
  line-height: 1.2;
}

@media screen and (max-width : 980px) {
  .introlabel {
    font-size: 52px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 650px) {
  .introlabel {
    font-size: 40px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 480px) {
  .introlabel {
    font-size: 25px;
    line-height: 1.2;
  }
}
  // Insert your own theme rules here


  // Элементы книг
  /*.cells {
    border-style: hidden;
    background-color:#4682B4;
    border-color: #3f8bff;
    border-width: 3px;

    border-radius: 20px 20px 20px 20px;
    margin: 14px;   // после границы
    padding: 10px;  //до границы
  }*/

  //Left sidebar
  .mainContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex: 1;
    order: 1;
    width: auto;
  }

  .sidebarContainer {
    order: 2;
    transition: width 1s ease;
    -moz-transition: width 1s ease;
  }

  .sidebar-in{

    background-color:$main-color;
    animation: sidebarAnimationFramesIn ease 1s;
    animation-iteration-count: 1;
    transform-origin: 100% 50%;
    animation-fill-mode:forwards;
    width: 100%;
  }

  .sidebar-out{
    background-color:$main-color;
    animation: sidebarAnimationFramesOut ease 1s;
    animation-iteration-count: 1;
    transform-origin: 100% 50%;
    animation-fill-mode:forwards;
    width: 100%;
  }


  //test
  .test {
    background-color:$main-color;
    width: 100%;

    -moz-transition: width 0.8s 0.1s ease;
    -o-transition: width 0.8s 0.1s ease;
    animation-iteration-count: 1;
    -webkit-transition: width 0.8s 0.1s ease;
    cursor: pointer;
  }

  .test:hover {
    background-color:$main-color;
    width: 0%;
  }

  .newsidebar-in{
    background-color:$main-color;
    animation: sidebarAnimationFramesIn ease 1s;
    animation-iteration-count: 1;
    -moz-transition: width 0.2s 0.1s ease;
    -o-transition: width 0.2s 0.1s ease;
    -webkit-transition: width 0.2s 0.1s ease;
    transform-origin: 100% 50%;
    animation-fill-mode:forwards;
    min-width: 320px;
    max-width: 20%;
    // width: 100%;
  }

  .newsidebar-out{
    background-color:$main-color;
    animation: sidebarAnimationFramesOut ease 1s;
    -moz-transition: width 0.2s 0.1s ease;
    -o-transition: width 0.2s 0.1s ease;
    animation-iteration-count: 1;
    -webkit-transition: width 0.2s 0.1s ease;
    transform-origin: 100% 50%;
    animation-fill-mode:forwards;
    // width: 100%;
  }

  //элементы в баре
  .tooltip-in {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s, visibility 0s linear 0.3s;
  }
  .tooltip-out{
    opacity: 1;
    visibility: visible;
    transition: opacity 1.5s, visibility 0s linear 0.3s;
  }

  // Face
  .circular-in  {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s, visibility 0s linear 0.3s;
  }

  .circular-out {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    opacity: 1;
    visibility: visible;
    transition: opacity 1.5s, visibility 0s linear 0.3s;
  }

// METRO
// ScrollBar
/*.v-scrollable {
  overflow: hidden;
}*/
.ease-in-out {
  transition-duration: 6s;
  transition-duration: 120ms;
  transition-duration: 1s, 15s;
  transition-duration: 10s, 30s, 230ms;
}

.dropdisplaywindow img{
  max-height: 300px;
  max-width: 500px;
}

.dropdisplaywindow .v-label{
  max-width: 500px;
  white-space: normal;
}

.drop-area {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

  padding: 40px;
  border: 8px dashed $main-color-lighter;
}

.drop-area .v-label {
  color: $main-color-lighter;
  font-weight: bold;
  font-size: 17px;
}